# ValidationResult
## Properties
| Name | Type | Optional | Description |
| :--- | :--- | :------- | :---------- |
| `isValid` | `boolean` | No | - |
| `errors` | `string[]` | No | - |