# ValidationResult
## Properties
| Name | Type | Optional | Description |
| :--- | :--- | :------- | :---------- |
| `diagnostics` | `Diagnostic[]` | No | - |
| `document` | `LangiumDocument<T>` | No | - |